<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Analyzed Text</title>
  </head>
  <style>
    #navmain{
      font-size: 17px;
      font-family: 'Source Sans Pro', sans-serif;
    }
    /*.leg{
      font-weight: 700;
      font-size: 16px;
      
      float:right;
      padding-top:15px;
      padding-right: 454px;
      padding-left: 45px;
      margin-right: 111px;
      background: lightgoldenrodyellow;
    }*/

  </style>
  <body>

  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" id="navmain"href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    </div>
  </div>
</nav>


<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!!</strong> Your text has been analyzed.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<!-- <div class="legend" style="float:left;">
  <h3 style="padding-top:15px"><b>Analyzed text:</b></h3>
</div> -->

<!-- text area -->
<!-- <div class="container">
<h1 style="padding-top:15px; float:left"><b>Analyzed text:</b></h1>
</div>

<div class="container">
<pre style="white-space:pre-wrap;float: right;">
    <p style="font-size: 16px; background: #f4f4f4; padding: 24px;border-left: 6px solid #005282;">{{analyzed_text}}</p>
</pre>
</div> -->

<div class="container">
<h1 style="padding-top:15px;"><b>Analyzed text:</b></h1>
<pre style="white-space:pre-wrap;">
    <p style="font-size: 16px; background: #f4f4f4; padding: 24px;border-left: 6px solid #005282;">{{analyzed_text}}</p>
</pre>
</div>

<div class="container" style="padding: 24px;background: #f4f4f4;">
  <h5><b>Total Words = {{wordCount}}</b></h5>
  <h5><b>Number Count = {{numCount}}</b></h5>
  <h5><b>Capital letters = {{capCount}}</b></h5>
  <h5><b>Small letters = {{smallCount}}</b></h5>
  <h5><b>Punctuations = {{punCount}}</b></h5>
  <h5><b>Total lines = {{lineCount}}</b></h5>
</div>
<br>

<!-- home page retrival -->
   <a href="/" style="text-decoration: None;"><div class="d-grid gap-2 col-4 mx-auto">
   <button class="btn btn-danger" type="button">Go to Home</button>
  </div></a>
  <br>
  <br>
  <br>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>